.principal-container {
    display: flex;
    padding: 20px;
}

.main-content {
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
}

.menu-visible {
    margin-left: 250px;
}

.menu-hidden {
    margin-left: 0;
}

.cards-dashboards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
}

.charts-container {
    display: flex;
    justify-content: space-around;
}

.chart {
    width: 45%;
}

.table-products-container {
    padding: 20px;
}

h3 {
    font-size: 25px;
}

/*ESTILOS DE BOTONES DE PAGINACION*/

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
  }
  