.principal-container {
    display: flex;
    padding: 20px;
}

.main-content {
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
}

.menu-visible {
    margin-left: 250px;
}

.menu-hidden {
    margin-left: 0;
}

.cards-dashboards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
}

.charts-container {
    display: flex;
    justify-content: space-around;
}

.chart {
    width: 45%;
}

.table-products-container {
    padding: 20px;
}

h3 {
    font-size: 25px;
}

/*ESTILOS DE BOTONES DE PAGINACION*/

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 12px;
}

.pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

.pagination button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.pagination button:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
}

.filter-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
